.left-cont
  .left-cont__user
    %p.left-cont__user__name UserName
    = link_to root_path do
      %i.fa.fa-cog.fa-fw
    = link_to root_path do
      %i.fa.fa-pencil-square-o.fa-fw
  .left-cont__group
    %ul.groups
      = render 'group'
      = render 'group'
      = render 'group'
