.left-cont
  = render 'groups/left-cont__user'
  .left-cont__group
    %ul.groups
      = render @groups

.right-cont
  .right-cont__group
    .right-cont__group__name
      = @group.name
    .right-cont__group__member
      %p MEMBER:
      %ul.member
        = render 'member', users: @users
    = link_to edit_group_path(@group) do
      %p.edit-button Edit
  .right-cont__chat
    %ul.chat
      = render @messages
  .right-cont__message
    = form_for [@group, @message], html: { class: 'js-form' } do |f|
      = f.text_field :body, class: 'right-cont__message__field', placeholder: 'type a message', value: ''
      .field
        = f.label :image do
          = f.file_field :image, class: 'image', id: 'message_image', style: 'display:none;'
          %i.fa.fa-picture-o
      = f.submit 'Send', class: 'send-button'
