= form_for group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "chat_group_name", "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, id: "chat_group_name", class: "chat-group-form__input", placeholder: "グループ名を入力してください", value: group.name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "chat_group_チャットメンバーを追加", "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        / = f.text_field :user_ids, id: "user-search-field", class: "chat-group-form__input", placeholder: "追加したいユーザー名を入力してください"
        = collection_check_boxes :group, :user_ids, User.all, :id, :name do |b|
          = b.label {b.check_box + b.text }
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label "chat_group_チャットメンバー", "ユーザー名", class: "chat-group-form__label"
    .chat-group-form__field--right
      #chat-group-users
        #chat-group-user-22.chat-group-user.clearfix
          = f.hidden_field "chat_group[user_ids][]", value: "22"
          %p.chat-group-user__name
            =current_user.name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", class: "chat-group-form__action-btn"
