= javascript_include_tag "group"
= form_for group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'chat_group_name', 'グループ名', class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, id: 'chat_group_name', class: 'chat-group-form__input', placeholder: 'グループ名を入力してください', value: group.name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'chat_group_チャットメンバーを追加', 'チャットメンバーを追加', class: 'chat-group-form__label'
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        = text_field_tag :member, nil, id: 'user-search-field', class: 'chat-group-form__input', placeholder: '追加したいユーザー名を入力してください'
        %ul.chat-group-form__users
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'chat_group_チャットメンバー', 'チャットメンバー', class: 'chat-group-form__label'
    .chat-group-form__field--right
      #chat-group-users
        #chat-group-user-id.chat-group-user.clearfix
          = hidden_field_tag 'group[user_ids][]', current_user.id
          %ul.chat-group-user__name
            %li.chat-group-user__name__list
              = current_user.name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit 'Save', class: 'chat-group-form__action-btn'
